/venv/
/instance/
utility_webapp/__pycache__/__init__.cpython-310.pyc
utility_webapp/__pycache__/constants.cpython-310.pyc
utility_webapp/__pycache__/dashboard.cpython-310.pyc
utility_webapp/__pycache__/data_parsing.cpython-310.pyc
utility_webapp/__pycache__/db.cpython-310.pyc
utility_webapp/__pycache__/news.cpython-310.pyc
utility_webapp/__pycache__/stocks.cpython-310.pyc
utility_webapp/constants.py
utility_webapp/last_download.txt
newsdump.json
