/venv/
/instance/
/__pycache__/

instance/stonks.sqlite
stonks/__pycache__/__init__.cpython-310.pyc
stonks/__pycache__/dashboard.cpython-310.pyc
stonks/constants.py
stonks/last_download.txt
instance/stonks.sqlite
stonks/__pycache__/__init__.cpython-310.pyc
stonks/__pycache__/data_parsing.cpython-310.pyc
newsdump.json
stonks/last_download.txt
instance/stonks.sqlite
