<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>{% block header %}{% endblock %}</h1>
        <nav>
            <h4><a class="navigate" href="/news/">News</a></h4>
            <h4><a class="navigate" href="/stocks/">Stock Ticker</a></h4>
        </nav>
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</body>
</html>