html {
    background-color: #292929;
    color: whitesmoke;
}


table {
    display: table;
    margin: 0 auto;
    justify-content: left;
    font-size: 12px;
    border-collapse: collapse;
}

tr{
    display: table-row;
    border-bottom: 1px solid salmon;
    text-wrap: nowrap;
   
}

tr[class="table_body"]:last-of-type {
    border-bottom: none;
}

tr[class="table_body"]:hover {
    background-color: slategray;
    color: #0b0d1c;
}

td, th {
    border-right: 1px solid salmon;
    padding: 2px 2px;
}

td {
    text-align: right;
}

th {
    text-align: left;
}

.detail {
    border: none;
}

header {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color: #0b0d1c;
    max-width: 1200px;
    width: 80%;
}
main {
    display: block;
    margin: 0 auto;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    flex-wrap: nowrap;
}


#table {
    overflow: scroll;
    max-width: 1200px;
    padding: 5px;
    margin-top: 10px;
    background-color: #0b0d1c;
    
}
#chart {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #0b0d1c;
    max-width: 1200px;
}

select{
    background-color: whitesmoke;
    color:#0b0d1c
}

#details {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    width: 360px;
}
#menu {
    display: block;
    justify-content: center;
    width: 360px;
}
#select {
    display: inline-block;
    justify-content: center;
    width: 360px;
    padding-left: 15px;
}
 #menu_title {
    padding-left: 15px;
    margin-bottom: 10px;
 }