html {
    background-color: #292929;
    color: whitesmoke;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}
table {
    display: table;
    margin: 0 auto;
    justify-content: left;
    border-collapse: collapse;
}
tr{
    display: table-row;
    border-bottom: 1px solid salmon;
    text-wrap: nowrap;
   
}
tr[class="table_body"]:last-of-type {
    border-bottom: none;
}

tr[class="table_body"]:hover {
    background-color: Gainsboro;
    color: #0b0d1c;
}
td, th {
    border-right: 1px solid salmon;
    padding: 2px 2px;
}
td:last-of-type, th:last-of-type {
    border: none;
}
td {
    text-align: right;
}
th {
    text-align: left;
}
.detail {
    border: none;
}
header {
    display: block;
    margin: 0 auto;
    background-color: #0b0d1c;
    max-width: 1200px;
    width: 100%;
    height: 100px;
}
h1 {
    margin: auto;
    text-align: center;
    padding-top: 25px;
    font-size: 48px;
    
}
main {
    display: block;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    flex-wrap: nowrap;
}
body {
    display: block;
    justify-content: center;
}
#table_border {
    max-width: 1200px;
    background-color: #0b0d1c;
}
#table {
    overflow: scroll;
    max-width: 1200px;
    padding: 10px 0 10px 0;
    margin: 10px 10px 0 10px;
    background-color: #0b0d1c; 
    overflow-y: hidden;
}
::-webkit-scrollbar {
    height: 7px;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: Gainsboro;
    border-radius: 4px;
  }
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: salmon;
  }
#chart {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #0b0d1c;
    max-width: 1200px;
    flex-wrap: wrap;
}
select{
    background-color: whitesmoke;
    color:#0b0d1c;
    border-style: solid;
}
#details {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    width: 360px;
}
#menu {
    display: block;
    width: 360px;
}
#select {
    display: inline;
    width: 360px;
    padding-left: 15px;
}
#menu_title {
    padding-left: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    
}
#detail_table {
    display: flex;
    justify-content: space-between;
    width: 360px;
    padding-left: 15px;
}
footer {
    width: 100%;
    max-width: 1200px;
    height: 80px;
    display: flex;
    background-color: #0b0d1c;
    margin: 0 auto;
    justify-content: space-between;
}
footer p {
    margin: auto 30px;
}
a {
    color: whitesmoke;
}
a:hover {
    color: salmon;
}
button {
    border-radius: inherit;
    border-style: solid;
}
button:hover {
    background-color: salmon;
    border-radius: inherit;
}
#listener {
    pointer-events: all;
    fill-opacity: 0;
    stroke-opacity: 0;
    z-index: 300;
}

